.staff-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 360px));
  justify-content: center;
  gap: 1.25rem;
}

.staff-card {
  width: 100%;
  max-width: 360px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding: 1rem;
  border-radius: 0.6rem;
  background: var(--md-default-bg-color);
  box-shadow: var(--md-shadow-z2);
}

.staff-card-text {
  width: 100%;
}
